#transferenciasDirectas{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(230,244,247,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(230,244,247,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(230,244,247,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(230,244,247,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(230,244,247,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(230,244,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6f4f7', GradientType=1 );
	text-align: center;
	padding: 20px;
}

#transferenciasDirectas h2{
	margin-top: 30px;
	color: #004aad !important;
    font-weight: 500;
    font-size: 45px;
}

#transferenciasDirectas h3{
	margin-top: 30px;
	color: #004aad !important;
}

#transferenciasInterInmediatas{
	text-align: center;
	padding: 20px;
}

#transferenciasInterInmediatas h2{
	margin-top: 30px;
	color: #004aad !important;
    font-weight: 500;
    font-size: 45px;
}

#transferenciasInterInmediatas h3{
	margin-top: 30px;
	color: #004aad !important;
}

.contenedorTransferencias{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

#transferenciasDirectas{
	display: none;
}

#transferenciasInterInmediatas{
	display: none;
}


@media (max-width:768px) {
	
	#transferenciasDirectas{
		margin-top: 640px;
	}	
	
	#transferenciasDirectas{
		display: block;
	}
	
	#transferenciasInterInmediatas{
		display: block;
	}
}


.transferencias-item{
	margin: 30px;
}

/* .transferencias-item img{ */
/* 	width: 290px; */
/* 	height: 290px; */
/* } */

.transferencias-item p{
	color: #004aad;
	margin-top: 20px;
}

.transferencias-item span{
	color: #004aad;
}

.line-shape {
    margin-left: calc(50% - 50px);
}
.line-shape, .line-shape-white {
    width: 100px;
    height: 4px;
    background-color: #fcc825;
    margin-top: 15px;
    margin-bottom: 30px;
}
