
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;600&display=swap');
@import url(menuDatos.css);

* {
	margin: 0;
	padding: 0;
	/*El width y el height incluyen el padding y el border, pero no el margin. */
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.85rem;
	background: rgba(0,55,133,1);
	background: -moz-linear-gradient(left, rgba(0,55,133,1) 0%, rgba(33,155,211,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,55,133,1)), color-stop(100%, rgba(33,155,211,1)));
	background: -webkit-linear-gradient(left, rgba(0,55,133,1) 0%, rgba(33,155,211,1) 100%);
	background: -o-linear-gradient(left, rgba(0,55,133,1) 0%, rgba(33,155,211,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,55,133,1) 0%, rgba(33,155,211,1) 100%);
	background: linear-gradient(to right, rgba(0,55,133,1) 0%, rgba(33,155,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003785', endColorstr='#219bd3', GradientType=1 );
}

section{
	width: 88%;
	margin: auto;
	padding-left: 2%; 
	padding-right: 2%;
	background: #fff;
}

/*Inicio estilos para el procesando*/
.ui-widget-overlay{
	background: #2d5972 url(/app/javax.faces.resource/images/ui-bg_flat_0_2d5972_40x100.png.xhtml?ln=primefaces-aristo) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}

.ui-widget-content {
    border: 1px solid #a8a8a8;
    background: #fff;
    color: #4f4f4f;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    font-family: Arial,sans-serif;
    font-size: 1.1em;
}
/*Fin estilos para el procesando*/

header {
    width: 100%;
    height: 65px;
    color: #003885;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	padding: .5rem 1.25rem;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

@media (min-width: 1024px){
	header {
	    height: 90px !important;
	}
}

.contenedor{
	width: 98%;
	margin: auto;
}

.claseImagenLogoHorizontal{
	float: left;
	width: 211.25px;
	margin-top: 2px;
}

@media (max-width:1023px) {
	.claseImagenLogoHorizontal{
		width: 150px !important;
	}
}

@media (min-width: 1024px){
	.contenedor {
		width: 90%;
	}
}


#datosPersonales {
    margin-top: 65px;
/*     position: relative; */
/* 	height: auto !important; */
	min-height: 90vh;
}


#idFormDatosPersonales{
	display: inline-block;
	width: 100%;
	margin-top: 3rem;
}

.form-group {
    margin-bottom: 0.4rem;
}

.form-group label{
	color: #003885;
	font-weight: bold;
}

.form-control{
	font-size: 0.85rem !important;
}

.column {
    float: left;
}

/* .columna-izq{ */
/* 	width: 30%; */
/* } */

/* .columna-der{ */
/* 	width: 70%; */
/* } */

.btn-guardar-datos{
	width: 60%;
	margin-top: 10px;
}

@media (max-width: 400px){
	.btn-guardar-datos{
		width: 100%;
	}
}

.alert{
	padding: 0.67rem 1.25rem !important;
}

.claseCampoObligatorios{
	color: red;
	font-weight: bold;
/* 	margin-top: 10px; */
	margin-bottom: 0 !important;
	padding: 10px 0 !important;
}

#idMensajeResultado{
	margin-top: 10px !important;
}

.claseMensajeResultado{
	margin-top: 10px !important;	
}

.claseErrorFormulario{
	border-color: red !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.4) !important;
}

.claseComboFecha{
	width: 32.5% !important;
}

.margenComboFecha{
	margin-right: 1.25% !important;
}

.claseComboFormulario{
	height: 34px !important;
}

.mensajeCuerpoError{
	color: #dc3545 !important;
}

.modal-title{
    color: #003885 !important;
	font-weight: bold !important;
}

.mensajeTituloError{
    color: #c82333 !important;
}

.modal-content{
	margin-top: 70px !important;
}
    
.btn-si-toogle{
	color: #FFFFFF !important;
	background-color: #003885 !important;
}

.btn-no-toogle{
    background-color: #e6e6e6;
    color: #333 !important;
}

.botonIniciarOperacionPerfil{
	color: #fff !important;
	display: initial !important;
	padding: 0.14rem 0.60rem !important;
    font-size: 0.9rem !important;
}

.botonIniciarOperacionPerfil:before {
    margin-left: 0em;
}

.botonIniciarOperacionPerfil span {
    display: inline-block !important;
    padding: .3em 0em .3em 0.5em !important;
}

.botonIniciarOperacionPerfil:hover {
    border-bottom: none !important;
}

.claseMostrarBoton{
	display: block;
}

.claseNoMostrarBoton{
	display: none !important;
}
