
#comoFunciona{
/* 	background: #A5C7F5; */
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
	text-align: center;
	padding: 20px;
}

#comoFunciona h2{
	margin-top: 30px;
	color: #00089F !important;
    font-weight: bold;
}

#comoFunciona h3{
	margin-top: 30px;
	color: #00089F !important;
}

#comoFunciona .contenedorComoFunciona{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

.comoFunciona-item{
	margin: 30px;
}

.comoFunciona-item img{
	width: 290px;
	height: 290px;
}

.comoFunciona-item p{
	color: #00089F;
	font-weight: bold;
}
