@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;600&display=swap');
@import url(menuControl.css);

* {
	margin: 0;
	padding: 0;
	/*El width y el height incluyen el padding y el border, pero no el margin. */
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.85rem;
	background: rgba(0,148,50,1);
	background: -moz-linear-gradient(left, rgba(0,148,50,1) 0%, rgba(0,97,179,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,148,50,1)), color-stop(100%, rgba(0,97,179,1)));
	background: -webkit-linear-gradient(left, rgba(0,148,50,1) 0%, rgba(0,97,179,1) 100%);
	background: -o-linear-gradient(left, rgba(0,148,50,1) 0%, rgba(0,97,179,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,148,50,1) 0%, rgba(0,97,179,1) 100%);
	background: linear-gradient(to right, rgba(0,148,50,1) 0%, rgba(0,97,179,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009432', endColorstr='#0061b3', GradientType=1 );
}

section{
	width: 88%;
	margin: auto;
	padding-left: 2%; 
	padding-right: 2%;
	background: #fff;
}

header{
	width: 100%;
	height: 65px;
    color: #003885;
    font-weight: 500;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	padding: .5rem 1.25rem;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

@media (min-width: 1024px){
	header {
	    height: 90px !important;
	}
}

.contenedor{
	width: 98%;
	margin: auto;
}

.claseImagenLogoHorizontal{
	float: left;
	width: 211.25px;
	margin-top: 2px;
}

@media (max-width:1023px) {
	.claseImagenLogoHorizontal{
		width: 150px !important;
	}
}


@media (min-width: 1024px){
	.contenedor {
		width: 90%;
	}
}


#control {
    margin-top: 65px;
/*     position: relative; */
/* 	height: auto !important; */
	min-height: 90vh;
}


#idFormControl{
	display: inline-block;
	width: 100%;
	margin-top: 3rem;
/* 	margin: auto; */
}

.column {
    float: left;
}

.table th {
    border: #d2e3f1 2px solid !important;
    background: #003885;
    color: white;
}

.table td {
    border: #d2e3f1 1px solid !important;
}

.modal-title{
    color: #003885 !important;
	font-weight: bold !important;
}

.modal-content{
	margin-top: 70px !important;
}

.claseCeldaOperacionCurso{
	padding-top: 1.5em !important;
}

.claseTitulo{
	color: #008B11;
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 0 !important;
}

.claseContenedorBotonOperacionGeneral{
	padding-right: 0 !important;
}

.botonIniciarOperacionGeneral{
	color: #fff;
	font-weight: bold;
	background: #FF7400;
}

table.dataTable {
    border-collapse: collapse !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #008B11 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #008B11 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #008B11 !important;
    background-color: white !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008B11), color-stop(100%, #008B11)) !important;
    background: -webkit-linear-gradient(top, #008B11 0%, #008B11 100%) !important;
    background: -moz-linear-gradient(top, #008B11 0%, #008B11 100%) !important;
    background: -ms-linear-gradient(top, #008B11 0%, #008B11 100%) !important;
    background: -o-linear-gradient(top, #008B11 0%, #008B11 100%) !important;
    background: linear-gradient(to bottom, #008B11 0%, #008B11 100%) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #008B11;
    background-color: #008B11;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008B11), color-stop(100%, #008B11));
    background: -webkit-linear-gradient(top, #008B11 0%, #008B11 100%);
    background: -moz-linear-gradient(top, #008B11 0%, #008B11 100%);
    background: -ms-linear-gradient(top, #008B11 0%, #008B11 100%);
    background: -o-linear-gradient(top, #008B11 0%, #008B11 100%);
    background: linear-gradient(to bottom, #008B11 0%, #008B11 100%);
}

.dataTables_paginate{
	margin-top: 10px;
}

.botonCancelar {
    font-weight: bold;
	padding: 0px !important;
    float: left !important;
    color: #FF0000;
    background-color: #ffffff;
    border: 1.5px solid #FF0000;
    width: 150px;
}

.botonCancelar:before {
	margin-left: 0em;
}

.botonCancelar span{
	display: inline-block !important;
	padding: .3em 0em .3em 0.5em !important;
}

.botonCancelar:hover{
	color: #ffffff;
	background-color: #FF0000;
}

.claseOperacionEnProceso{
	color: orange;
	font-weight: bold;
}

.claseOperacionCancelada{
	color: red;
	font-weight: bold;
}

.claseOperacionFinalizada{
	color: green;
	font-weight: bold;
}

.imagenBotonOperacionesLista64x64 {
	background-image: url(../../resources/imagenes/operacionesLista64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenBotonClientes64x64 {
	background-image: url(../../resources/imagenes/clientes64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenBotonUsuarios64x64 {
	background-image: url(../../resources/imagenes/usuarios64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenBotonBancos64x64 {
	background-image: url(../../resources/imagenes/banco64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenBotonCambio64x64 {
	background-image: url(../../resources/imagenes/cambio64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenBotonCuentasBancarias64x64 {
	background-image: url(../../resources/imagenes/cuentasBancarias64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenBotonDivisas64x64 {
	background-image: url(../../resources/imagenes/divisa64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenBotonConfiguracionSistema64x64 {
	background-image: url(../../resources/imagenes/configuracionSistema64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenBotonInformacionPersonal64x64 {
	background-image: url(../../resources/imagenes/informacionPersonal64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenBotonBlog64x64 {
	background-image: url(../../resources/imagenes/blog64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.imagenPregunta64x64 {
	background-image: url(../../resources/imagenes/preguntas64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.claseBotonElementoMenu{
	width: 100px;
	height: 100px;
	cursor: pointer;
	border: none !important;
	background-color: #EFEFEF; /* Color al fondo de los botones con imagen*/  
	/*Para hacer los botones circulares*/
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	/*Para las sombras*/
	-webkit-box-shadow: 3px 3px 11px 0px rgba(0,139,17,0.73);
	-moz-box-shadow: 3px 3px 11px 0px rgba(0,139,17,0.73);
	box-shadow: 3px 3px 11px 0px rgba(0,139,17,0.73);
}

.claseBotonElementoMenu:focus{
	outline: 0; /*Para que no se vea la linea cuadrada al darle click al boton*/
}

.claseBotonElementoMenu:hover{
	background-color: #B5D6B2;
}

@media (max-width: 470px){
	.claseOpcionesPanel{
		margin: 10px;
	}
	
	
	.claseBotonElementoMenu{
		width: 90px;
		height: 90px;
    }
}

.claseOpcionesPanel{
	margin: 20px;
}

.claseOpcionesPanel p{
	text-align: center;
	margin-bottom: 0 !important; 
}

#idFormControl .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.claseSubtituloControl {
	color: #003885;
	margin-top: 5px;
}