
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(menuCambio.css);

* {
	margin: 0;
	padding: 0;
	/*El width y el height incluyen el padding y el border, pero no el margin. */
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.85rem;
	background: #00089F;
}

section{
	width: 88%;
	margin: auto;
	padding-left: 2%; 
	padding-right: 2%;
	background: #fff;
}

header{
	width: 100%;
	height: 65px;
	background: #EFEFEF;
	color: #00089F;
	font-weight: bold;
	border-top: 1px solid #00089F;
	border-bottom: 1px solid #00089F;
	
	
	/*Para que se quede fijo*/
	position: fixed;
	top: 0;
	left: 0;
	/*Para que este siempre por delante de los demas elementos, el tape a los demas*/
	z-index: 100;
}

.contenedor{
	width: 98%;
	margin: auto;
}

img{
	float: left;
	width: 211.25px;
	height: 65px;
}


@media (min-width: 1024px){
	.contenedor {
		width: 90%;
	}
}


#idSeccionCambio {
    margin-top: 65px;
	min-height: 90vh;
}

#idSecciontipoCambioItem {
    margin-top: 65px;
	min-height: 90vh;
}

#idFormCambio{
	display: inline-block;
	width: 100%;
	margin-top: 1rem;
/* 	margin: auto; */
}

#idFormTipoCambioItem{
	display: inline-block;
	width: 100%;
	margin-top: 1rem;
/* 	margin: auto; */
}


.column {
    float: left;
}

.table th {
    border: green 2px solid !important;
    background: #008B11;
    color: white;
}

.table td {
    border: green 1px solid !important;
}

.claseCeldaOperacionCurso{
	padding-top: 1.5em !important;
}

.claseTitulo{
	color: #008B11;
	font-weight: bold;
	font-size: 1rem;
}

.botonIniciarOperacionGeneral{
	color: #fff;
	font-weight: bold;
	background: #FF7400;
}

table.dataTable {
    border-collapse: collapse !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #008B11 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #008B11 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #008B11 !important;
    background-color: white !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008B11), color-stop(100%, #008B11)) !important;
    background: -webkit-linear-gradient(top, #008B11 0%, #008B11 100%) !important;
    background: -moz-linear-gradient(top, #008B11 0%, #008B11 100%) !important;
    background: -ms-linear-gradient(top, #008B11 0%, #008B11 100%) !important;
    background: -o-linear-gradient(top, #008B11 0%, #008B11 100%) !important;
    background: linear-gradient(to bottom, #008B11 0%, #008B11 100%) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #008B11;
    background-color: #008B11;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008B11), color-stop(100%, #008B11));
    background: -webkit-linear-gradient(top, #008B11 0%, #008B11 100%);
    background: -moz-linear-gradient(top, #008B11 0%, #008B11 100%);
    background: -ms-linear-gradient(top, #008B11 0%, #008B11 100%);
    background: -o-linear-gradient(top, #008B11 0%, #008B11 100%);
    background: linear-gradient(to bottom, #008B11 0%, #008B11 100%);
}

.dataTables_paginate{
	margin-top: 10px;
}

.botonCancelar {
    font-weight: bold;
	padding: 0px !important;
    float: left !important;
    color: #FF0000;
    background-color: #ffffff;
    border: 1.5px solid #FF0000;
    width: 30px;
}

.botonCancelar:before {
	margin-left: 0em !important;
	margin-right: 0em !important;
}

.botonCancelar:hover{
	color: #ffffff;
	background-color: #FF0000;
}

.botonCheck {
    font-weight: bold;
	padding: 0px !important;
    float: left !important;
    color: #28a745;
    background-color: #ffffff;
    border: 1.5px solid #28a745;
    width: 30px;
}

.botonCheck:before {
	margin-left: 0em !important;
	margin-right: 0em !important;
}

.botonCheck:hover{
	color: #fff;
	background-color: #218838;
    border-color: #1e7e34;
}


.botonDetalle {
    font-weight: bold;
	padding: 0px !important;
    float: left !important;
    color: #2299FB;
    background-color: #ffffff;
    border: 1.5px solid #2299FB;
    width: 30px;
}

.botonDetalle:before {
	margin-left: 0em !important;
	margin-right: 0em !important;
}

.botonDetalle:hover{
	color: #fff;
	background-color: #2299FB;
    border-color: #2299FB;
}


.botonEditar {
    font-weight: bold;
	padding: 0px !important;
    float: left !important;
    color: #6F4D00;
    background-color: #ffffff;
    border: 1.5px solid #6F4D00;
    width: 30px;
}

.botonEditar:before {
	margin-left: 0em !important;
	margin-right: 0em !important;
}

.botonEditar:hover{
	color: #fff;
	background-color: #6F4D00;
    border-color: #6F4D00;
}


.botonRegresar {
	color: #fff;
	border: 1.5px solid #FD6507;
	background: #FD6507;
	font-weight: bold !important;
	padding: 0px !important;
	width: 30px;
}

.botonRegresar:before {
	margin-left: 0em !important;
	margin-right: 0em !important;
}

.botonRegresar:hover{
	color: #FD6507;
	background-color: #fff;
}



.botonNuevo {
	color: #fff;
	border: 1.5px solid #00CA23;
	background: #00CA23;
	font-weight: bold !important;
	padding: 0px !important;
	width: 30px;

}

.botonNuevo:before {
	margin-left: 0em !important;
	margin-right: 0em !important;
}

.botonNuevo:hover{
	color: #00CA23;
	background-color: #fff;
}

.botonRefrescar {
	color: #fff;
	border: 1.5px solid #0900E2;
	background: #0900E2;
	font-weight: bold !important;
	padding: 0px !important;
	width: 30px;

}

.botonRefrescar:before {
	margin-left: 0em !important;
	margin-right: 0em !important;
}

.botonRefrescar:hover{
	color: #0900E2;
	background-color: #fff;
}

.claseTituloIzquierda{
	padding-left: 0 !important;
}

.claseTituloDerecha{
	text-align: right;
    padding-right: 0 !important;
}

.claseOperacionIniciada{
	color: orange;
	font-weight: bold;
}

.claseOperacionVerificacion{
	color: #2299FB;
	font-weight: bold;
}


.claseOperacionFinalizada{
	color: green;
	font-weight: bold;
}

.claseOperacionCancelada{
	color: red;
	font-weight: bold;
}

.modal-title{
    color: #00089F !important;
	font-weight: bold !important;
}

.modal-content{
	margin-top: 70px !important;
}

.claseCampoObligatorios{
	color: red;
	font-weight: bold;
/* 	margin-top: 10px; */
	margin-bottom: 0 !important;
	padding: 10px 0 !important;
}

.form-group label{
	color: #00089F;
	font-weight: bold;
}

.form-control{
	font-size: 0.85rem !important;
}

.claseMensajeResultado{
	margin-top: 10px !important;	
}

.claseComboFormulario{
	height: 34px !important;
}

.claseErrorFormulario{
	border-color: red !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.4) !important;
}

.btn-guardar-datos{
	width: 60%;
	margin-top: 10px;
}

@media (max-width: 400px){
	.btn-guardar-datos{
		width: 100%;
	}
}

.mensajeTituloError{
    color: #c82333 !important;
}

.mensajeCuerpoError{
	color: #dc3545 !important;
}

.claseIndicadorActivo{
	color: green !important;
	font-weight: bold;
}

.claseIndicadorInactivo{
	color: red !important;
	font-weight: bold;
}