
#comoFunciona{
	background: #f9f9f9;
	text-align: center;
	padding: 20px;
}

#comoFunciona h1{
	margin-top: 30px;
	color: #000000 !important;
    font-weight: bold;
    margin-bottom: 30px;
}

#comoFunciona h3{
	margin-top: 30px;
	color: #5763eb !important;
}

#comoFunciona .contenedorComoFunciona{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

.comoFunciona-item{
	margin-right: 70px;
	margin-left: 70px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.comoFunciona-item img{
   height: 85px;
   margin-bottom: 20px;
}

.comoFunciona-item p{
	color: #000000;
	font-weight: bold;
}
