
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');


body {
	font-family: 'Cairo', sans-serif;
	font-size: 0.85rem;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 48%, rgba(74,78,79,1) 100%);
}

/*Para el Login */


#seccionLogin {
	min-height: 100vh;
}


section {
    width: 88%;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
	background: #fff;
}

/*Inicio estilos para el procesando*/
.ui-widget-overlay{
	background: #2d5972 url(/app/javax.faces.resource/images/ui-bg_flat_0_2d5972_40x100.png.xhtml?ln=primefaces-aristo) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}

.ui-widget-content {
    border: 1px solid #a8a8a8;
    background: #fff;
    color: #4f4f4f;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    font-family: Arial,sans-serif;
    font-size: 1.1em;
}
/*Fin estilos para el procesando*/

.main-section{
	 margin: 0 auto;
	 margin-top: 50px;
	 padding: 0;
}

.formContenidoIngreso{
/* 	background-color: #5763eb; */
/* 	opacity: .8; */
	padding: 0 5px;
	border-radius: 10px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 48%, rgba(74,78,79,1) 100%);
}

.user-img{
	margin-top: -60px;
	margin-bottom: 30px;
}

.user-img img{
	width: 150px;
}

.form-group{
	margin-top: -20px;
}

.form-group input{
	border-radius: 5px;
	border: 0;
	padding-left: 35px;
}

.form-group i::before{
	position: absolute;
	font-size: 20px;
	padding-top: 15px;
	left: 25px;
	color: #000000;
}

.form-input button{
	width: 55%;
	margin: 5px 0 25px;
}

.btn-enviar{
	width: 60%;
	margin: 15px 0 25px !important;
}

.btn-success{
	background-color: #054CEF;
	border-radius: 5px;
	padding: 7px 14px;
	border: 1px solid #ffffff;	
}

.btn-success:hover{
	background-color: #012068;
	border: 1px solid #ffffff;
}

.botonIniciarOperacionGeneral{
	color: #000000 !important;
	font-weight: bold !important;
	background: #ffdd00 !important;
	padding-right: 20px;
    padding-left: 20px;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	display: initial !important;
	border-radius: 5rem !important;
}

.botonIniciarOperacionGeneral:before {
    margin-left: 0em;
}

.botonIniciarOperacionGeneral span {
    display: inline-block !important;
    padding: .3em 0em .3em 0.5em !important;
}

.botonIniciarOperacionGeneral:hover {
/*     color: #ffffff !important; */
/*     background-color: #ff920a !important; */
/*     border-color: #ff920a !important; */
/*     border-bottom: none !important; */
}


.forgot{
	padding: 5px 0 25px;
}

.forgot a{
	color: #ffffff;
	font-weight: bold;
}

.contenidoEnlaceRegistro{
	padding: 5px 0 25px;
	border: none;
	font-weight: bold;
}

.seccionTipoPersoneria label{
	color: #ffffff;
}

/*boton por activo con hover*/
.btn-primary {
	background-color: #B6B7B8 !important;
	border-color: #DDDDDD !important;
	border-radius: 5px !important;
}

/*boton por activo con hover*/
.btn-primary:hover {
	background-color: #00871E !important;
}

.btnNatural{
	margin-right: 5px;
}

.btn-primary:not(:disabled):not(.disabled).active{
	background-color: #19A712 !important;
	border-color: #00A65F !important;		
}

.imagenLogoPaginaLogin{
	width: 228px;
	height: 200px;
}


.imagenLogoHorizontalPaginaLogin{
		width: 320px !important;
}
	
@media 	(max-width: 450px) {
	.imagenLogoHorizontalPaginaLogin{
			width: 240px !important;
	}
}


@media 	(max-width: 767px) {
	.claseContieneImagen{
		margin-top: 20px;
	}
}


@media 	(min-width: 768px) {
	.claseContieneImagen{
		margin-top: 190px;
	}
	.claseContieneLogin{
		margin-top: 100px;
	}
}

.seccionRegistrateYa{
	display: block;
	margin-bottom: 30px;
	margin-top: 15px;
	color: #4a4e4f;
	font-weight: bold;
	font-size: 20px;
}

#seccionLogin .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#result{
	display: none;
}

.modal-title{
    color: #000000 !important;
	font-weight: bold !important;
}

.modal-content{
	margin-top: 70px !important;
}

.claseContieneCaptcha{
	text-align: center;
}