#blog h3, h4{
	text-align: center;
}

#blog .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#blog article{
	margin: 15px;	
    text-align: center;
}

#blog img{
	width: 100%;
	height: 100%;
	max-width: 280px;
	
}