
#beneficios{
	background: #ffffff !important;
	text-align: center;
	padding: 20px;
}

#beneficios h2{
	margin-top: 30px;
	color: #1d2b38 !important;
    font-weight: bold;
}

#beneficios h4{
	text-align: left;
	color: #1d2b38 !important;
}

.contenedorBeneficios p{
	color: #1d2b38;
    margin-top: 0;
}    
    
#beneficios .contenedorBeneficios{
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	display: inline-flex;
	margin-top: 30px;
}


.line-shape {
    margin-left: calc(50% - 50px);
}
.line-shape, .line-shape-white {
    width: 100px;
    height: 5px;
    background-color: #69B42D;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 100px;
}

.claseItemBeneficios img {
	width: 80px;
}

.claseImagenBeneficios img{
	width: 440px;
/* 	border-bottom: 30px; */
}

.claseItemBeneficios .column{
	margin-top: 55px;
	text-align: left;
}

.claseItemBeneficios .columnaImagen{
	text-align: center;
}

.claseTitulo{
	text-align: left;
}

.claseTitulo p{
	font-size: 23px;
}

@media (max-width:768px) {

	.claseItemBeneficios .column{
		text-align: center;
	}
	
	.claseTitulo{
		text-align: center;
	}
	
	.claseDetallebeneficios{
		margin-top: 40px;
	}
	
	#beneficios h4{
		text-align: center;
	}
	
}