@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;600&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(calculadora.css);
/* @import url(blog.css); */
@import url(info.css);
@import url(transferenciaBancos.css);
@import url(respaldo.css);
@import url(comoFunciona.css);
@import url(nuestroProposito.css);
@import url(beneficios.css);
@import url(eleccionPreciso.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 65px;
    color: #004aad;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
	background: #1D2A37;
	padding: .5rem 1.25rem;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.cabeceraInfo{
	display: none;	
}

@media (min-width:1024px) {
	
	header{
		height: 90px !important;
	}

	.cabeceraInfo{
		height: 25px;
		background: #004aad !important;
		display: block;	
	}
	
	.contenedorInfo{
		width: 98%;
		margin: auto;
		font-weight: normal;
	}
	
	.contenedorInfo a{
		color: #fff;
		font-size: 15px;
		margin-right: 20px;
	}
	
	.contenedorInfo a:hover{
		text-decoration: none;
	}
	
	
}


@media (max-width:1023px) {
	.imagenLogo{
		width: 150px !important;
	}
}

.contenedor{
	width: 98%;
	margin: auto;
}

.imagenLogo{
	float: left;
	margin-top: 5px;
	width: 211.25px;
}
  
header .contenedor{
	display: table; /*Para que encierre todo el header*/
}

section{
	width: 100%;
	margin-bottom: 25px;
}

#bienvenidos{
	text-align: center;
}

/* footer .contenedor{ */
/* 	display: flex; */
/* 	flex-wrap: wrap; */
/* 	justify-content: center; */
/* 	padding-bottom: 25px; */
/* } */

/* footer p{ */
/* 	text-align: center; */
/* } */

.claseInicioMarcado{
/* 	border-bottom: 3px solid #69B42D; */
	color: #69B42D !important;
    text-decoration: none;
}


footer{
	background: #1D2A37;
	color: #fff;
	font-size: 0.85em;
}

footer hr{
	border-top: 2px solid #69B42D !important;
}

.imagenLogoFooter{
	width: 140px;
	margin-bottom: 20px;	
}

.claseEnlacePiePagina a {
	color: white !important;	
}

.claseEnlacePiePagina a:hover {
	color: white !important;	
}

.contactoIconos a{
/* 	font-size: 20px; */
	font-weight: bold;
	text-decoration: none;	
	color: #fff;
	cursor: default;
}


.copy {
	font-size: 20px;
}

.sociales{
	width: 100%;
	text-align: center;
	font-size: 28px;
}

.sociales a{
	color: #333;
	text-decoration: none;
}


@media (min-width: 1024px){
	.contenedor {
		width: 85%;
	}
	
	.contenedorInfo {
		width: 85%;
	}
	
/* 	.contenedorComoFunciona { */
/* 		width: 1400px; */
/* 	} */
}

.claseDerechos a{
	text-decoration: none;
	color: #fff;
}


#myBtn {
/*     display: none; Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
/*     background-color: red; Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
/*     border-radius: 10px; Rounded corners */
/*     font-size: 18px; Increase font size */
    
    background-image: url(../../resources/imagenes/whatsapp54x54.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	width: 54px;
	height: 54px;
	
	border-radius: 100px 100px 100px 100px;
	-moz-border-radius: 100px 100px 100px 100px;
	-webkit-border-radius: 100px 100px 100px 100px;
	border: 0px solid #000000;
	
	-webkit-box-shadow: 0px 0px 15px 7px rgba(0,73,0,1);
	-moz-box-shadow: 0px 0px 15px 7px rgba(0,73,0,1);
	box-shadow: 0px 0px 15px 7px rgba(0,73,0,1);
}

#myBtn:hover {
	-webkit-box-shadow: 0px 0px 25px 4px rgba(0,179,0,1);
	-moz-box-shadow: 0px 0px 25px 4px rgba(0,179,0,1);
	box-shadow: 0px 0px 25px 4px rgba(0,179,0,1);
}


.imagenBotonOperacionesLista64x64 {
	background-image: url(../../resources/imagenes/operacionesLista64x64.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.claseBotonElementoMenu{
	width: 100px;
	height: 100px;
	cursor: pointer;
	border: none !important;
	background-color: #EFEFEF; /* Color al fondo de los botones con imagen*/  
	/*Para hacer los botones circulares*/
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	/*Para las sombras*/
	-webkit-box-shadow: 3px 3px 11px 0px rgba(0,139,17,0.73);
	-moz-box-shadow: 3px 3px 11px 0px rgba(0,139,17,0.73);
	box-shadow: 3px 3px 11px 0px rgba(0,139,17,0.73);
}


/*Inicio estilos para el procesando*/
.ui-widget-overlay{
	background: #2d5972 url(/app/javax.faces.resource/images/ui-bg_flat_0_2d5972_40x100.png.xhtml?ln=primefaces-aristo) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}

.ui-widget-content {
    border: 1px solid #a8a8a8;
    background: #fff;
    color: #4f4f4f;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    font-family: Arial,sans-serif;
    font-size: 1.1em;
}
/*Fin estilos para el procesando*/

/*Inicio Lo ultimo de nuestro blog*/

.claseObjetoBlog{
/* 	width: 250px; */
/* 	height: 250px; */
	width: 100%;
}

/* .claseContieneObjetoBlog{ */
/* 	text-align: center; */
/* } */

.contenedorObjetoBlog{
	padding-top: 15px;
	margin-bottom: 30px;
}

.contenedorObjetoBlog img{
	width: 100%;	
}

.contenedorObjetoBlogInterno{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0,116,0,1);
	-moz-box-shadow: 1px 1px 10px 0px rgba(0,116,0,1);
	box-shadow: 1px 1px 10px 0px rgba(0,116,0,1);
	border: 1px solid #004aad;
	padding-top: 15px;
	background-color: #e8f2f7;
}

.contenedorObjetoBlogInterno a{
	text-align: center;
}




.claseFechaEntrada{
  margin-top: 20px;	
/*   font-family: "ChronicleDisplaySemibold",Times New Roman,serif; */
/*   font-size: 12px; */
}

.claseCategoriaEntrada {
  text-transform: uppercase;
/*   font-family: "ChronicleDisplaySemibold",Times New Roman,serif; */
  font-size: 26px;
  font-weight: bold;
}

.claseTituloEntrada{
  margin-top: 20px;	
/*   font-family: "ChronicleDisplaySemibold",Times New Roman,serif; */
  font-size: 16px
}

/* .claseFechaEntrada:hover{ */
/*   text-decoration: underline; */
/*   cursor: pointer;	 */
/* } */

/* .claseCategoriaEntrada:hover{ */
/*   text-decoration: underline;	 */
/*   cursor: pointer; */
  
/* } */

.claseTituloEntrada:hover{
  text-decoration: underline;
  cursor: pointer;	
}



figure {
  line-height: .7;
  margin: 0;
  position: relative;
}

.flow-image{
  height: 157px;
  overflow: hidden;
}

.claseEntradaParteSUperior{
	min-height: 240px;
}

.claseEntradaParteSUperior a{
	color: black !important;
	text-align: left !important;
}

#idBlog h2{
	color: #004aad;
    font-weight: bold;	
    text-align: center;
    margin-bottom: 30px;
}
/*Fin lo ultimo de nuestro blog*/


/*Inicio variacion tc*/
#idDataTipoCambio h2{
	color: #004aad;
    font-weight: bold;	
    text-align: center;
    margin-bottom: 30px;
}

/*Fin variacion tc*/

/*Inicio comentarios*/

.claseFondoComentarios {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background-image: url(../../resources/imagenes/baseComentarios.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}    

.carousel-inner blockquote:before, .carousel-inner blockquote:after {
    display: block!important;
    left: 10px;
    top: 0;
    content: "\201C";
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    position: absolute;
}

.carousel-inner blockquote:after {
    content: "\201D";
    left: auto;
    right: 10px;
    top: auto;
    bottom: -.5em;
}

.img-circle {
    border-radius: 50%;
}

.carousel-item img {
/*     margin: 15px auto 10px; */
    width: 60px;
}

.testimonial-carousel{
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.testimonial-carousel p{
	margin-bottom: 1rem;
    margin-top: 1em;
}

#idComentarios h2 {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
/*Fin comentarios*/


/*Inicio Suscripcion*/
#idSuscripcion h2{
	color: #004aad;
    font-weight: bold;	
    text-align: center;
}

#idSuscripcion h3{
	color: #004aad;
    font-weight: bold;	
    text-align: center;
    margin-bottom: 30px;
}

#idSuscripcion input{
	width: 370px;
}

.botonSuscripcion{
	color: #fff !important;
	font-weight: bold !important;
/* 	background: #FF7400 !important; */
	padding-right: 20px;
    padding-left: 20px;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	display: initial !important;
}

/* .botonSuscripciom:before { */
/*     margin-left: 0em; */
/* } */

.botonSuscripcion span {
    display: inline-block !important;
    padding: .3em 0em .3em 0.5em !important;
}

.claseContenedorBotonSuscrip{
	text-align: center;
}

.claseMensajeResultado{
	margin-top: 10px !important;	
	padding: 0.6rem 1.25rem;
	font-size: 0.85rem !important;
}

.claseComboFormulario{
	height: 34px !important;
}

.claseErrorFormulario{
	border-color: red !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.4) !important;
}
/* .botonSuscripciom:hover { */
/*     border-bottom: none !important; */
/* } */

/*Fin suscripcion*/


.mensajeCuerpoError{
	color: #dc3545 !important;
}

.modal-title{
    color: #004aad !important;
	font-weight: bold !important;
}

.mensajeTituloError{
    color: #c82333 !important;
}

.modal-content{
	margin-top: 90px !important;
}


#bienvenidos h2{
	color: #004aad;
    font-weight: bold;	
    text-align: center;
}

#bienvenidos h3{
	color: #004aad;
    font-weight: bold;	
    text-align: center;
    margin-bottom: 30px;
}

.botonContactoFb {
/* 	display: inline-block; */
    text-align: center;
    color: #fff;
    background-color: #3b5998 !important;
    border-radius: 200px 200px 200px 200px !important;
	-moz-border-radius: 200px 200px 200px 200px !important;
	-webkit-border-radius: 200px 200px 200px 200px !important;
	border: 0px solid #000000 !important;
}

.botonContactoFb:hover{
	color: #fff;
}

@media (min-width: 768px) {
	.change-money-mod-alt {
	    max-width: 24rem;
	    margin: 1rem auto 0;
	}
}

@media (min-width: 1200px) {
	.change-money-mod-alt {
 		margin-right: 20px;
	}
}


.change-money-mod-alt {
    background-color: #fff;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: .8rem 1rem;
}

.change-money-mod-alt .top-mod {
    margin-bottom: 1rem;
    font-weight: 700;
}

.change-money-mod-alt .top-mod .tipo-de-cambio {
    text-align: center;
}

.change-money-mod-alt .top-mod .tipo-de-cambio .title {
    display: inline-block;
    margin: 0 auto 1rem;
    font-size: 1rem;
    color: #022c43;
}

.change-money-mod-alt .top-mod .tipo-de-cambio .data {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: .25rem;
    border-bottom: 1px solid #ced4da;
}

.change-money-mod-alt .top-mod .tipo-de-cambio .data>div.compra-mod {
    text-align: left;
    opacity: .75;
}

.change-money-mod-alt .top-mod .tipo-de-cambio .data>div:first-child {
    border-right: 1px solid #ced4da;
}

.tc-inactive {
    text-align: left;
    color: #ccc;
}

.change-money-mod-alt .top-mod .tipo-de-cambio .data>div {
    width: 50%;
    font-size: .9rem;
}

.tc-active {
    color: #4D7F21;
    font: bold;
    text-align: left;
}

.change-money-mod-alt .interchange-mod form {
    position: relative;
}

.change-money-mod-alt label {
    margin: 0;
    width: 100%;
}

.input-mod {
    margin-top: .25rem;
    display: block;
    position: relative;
    z-index: 1;
}


.input-mod input {
    border-radius: 10px;
    box-shadow: 0 5px 10px 1px #8e8e8e;
    padding: 1.15rem 1rem .5rem;
    color: #666;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    opacity: .85;
    font-weight: 700;
    outline: 0;
    border: none;
}

.full-width {
    width: 100%;
}

form.custom-form input, form.custom-form select {
    margin-top: .25rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    padding: .5rem;
}

form.custom-form label span {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 700;
}

.bottom-mod-text:before {
    content: 'Tu envias';
}

.bottom-mod-text:before {
    position: absolute;
    left: 1rem;
    top: .5rem;
    z-index: 3;
    font-size: .7rem;
    color: #666;
    opacity: .5;
    letter-spacing: 1px;
    font-family: Ubuntu!important;
}

/* .dolar-mod:after { */
/*     content: 'Dólares'; */
/* } */


.top-mod-text:before {
    content: 'Tu recibes';
}

/* .sol-mod:after { */
/*     content: 'Soles'; */
/* } */

.input-mod:before {
    position: absolute;
    left: 1rem;
    top: .5rem;
    z-index: 3;
    font-size: .7rem;
    color: #666;
    opacity: .5;
    letter-spacing: 1px;
    font-family: Ubuntu!important;
}

.input-mod:after {
    position: absolute;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #022c43;
    z-index: 2;
    font-weight: 700;
    font-size: .9rem;
    text-transform: uppercase;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.change-mod {
    position: absolute;
    left: 50%;
    top: 58%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 5!important;
    border-radius: 50%;
}

.left-mod {
    margin-bottom: 0.85rem;
}

.change-mod button {
    width: 100%;
    height: 100%;
    background-color: #69b42d;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.change-mod img {
    width: 100%;
/*     -webkit-transform: rotate(90deg); */
/*     transform: rotate(90deg); */
    vertical-align: middle;
    border-style: none;
    width: 28px;
}

.btn-full {
    display: block;
    width: 100%;
}

.btn-primary {
    background-color: #022c43;
    border-color: #022c43;
}

/* .buttons-mod { */
/*     padding-left: 2.75rem; */
/*     padding-right: 2.75rem; */
/* } */

.btn-custom-with-icon {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-encasa h4 {
    font-weight: 600;
    color: #fff;
    font-family: Montserrat!important;
    font-size: 2.3rem;
    line-height: 1.25;
    text-align: left;
}

@media (min-width: 768px) {
	.justify-content-md-between {
	    justify-content: space-between!important;
	}
}

.justify-content-center {
    justify-content: center!important;
}

#header-content-icon-desktop {
	display: inline-flex;
	margin-bottom: 10px;
}

.features-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-item p {
    margin: 0 0 0 .5rem;
    font-size: .85rem;
    line-height: 1.25;
    width: calc(100% - 2rem);
}    

.mod-bottom-text {
    position: absolute;
    bottom: 0;
    width: 12rem;
}

@media (min-width: 992px) {
	.features-item p {
	    font-size: .9rem;
	}
}

@media (min-width: 992px){
	.supported-banks {
	    padding: 1rem 7%;
	}
}

.supported-banks {
    background-color: #1A57A0;
    padding-left: 35px;
    padding-right: 35px;
}


@media (min-width: 992px){
	.icon-with-text {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: row;
	    margin-bottom: 0;
	    text-align: left;
	}
}


.logoImg {
    width: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px){
/* 	.logoImg { */
/* 	    width: 75%; */
/* 	} */
}

.icon-with-text p {
    font-size: 1rem;
    color: #fff;
    line-height: 1.2;
    margin: 0;
}


@media (max-width: 991px){
/* 	.logoImg { */
/* 	    margin-top: -15px; */
/* 	} */
	
	.icon-with-text p{
		font-size: 0.85rem;
	}
}


@media (min-width: 992px){
	.icon-with-text p {
	    font-size: .8rem;
	}
	.icon-with-text img {
	    width: 3rem;
	    margin-right: .5rem;
	    margin-bottom: 0;
	}
}

section.supported-banks .other-banks {
    color: #fff;
    font-style: italic;
    font-size: .7rem;
    line-height: 1.2;
    opacity: .8;
    margin: 0;
    text-align: center;
}

@media (min-width: 992px){
	.other-banks {
	    font-size: .9rem;
	}
}

.clasetextoMoneda{
	color: #666;
	position: absolute;
	margin-top: 15px;
    margin-left: -90px;
    z-index: 100;
    font-weight: 600;
}

.venta-mod {
    text-align: left;
    opacity: .75;
    padding-left: 1rem;
}

.change-money-mod-button-action button{
	outline: 0;
}

.tiempo-promedio span{
	color: #666;
	font-size: .8rem;
}

.tiempo-promedio{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.registroSBSHome{
	max-width: 500px; 
	padding: 10px; 
	font-size: 19px; 
	text-align: left; 
	color: white;
}

.registroFraseHome{
	max-width: 500px; 
	padding: 10px; 
	font-size: 16px; 
	text-align: left; 
	color: white;
}

.registroSBSHomeMovil{
	max-width: 500px; 
	padding: 10px; 
	font-size: 16px; 
	text-align: left; 
	color: white;
}

@media (max-width: 1119px){
	
	.registroSBSHome {
	    display: none;
	}
	
	.registroFraseHome{
		display: none;
	}
		
	.text-encasa{
		padding-left: 35px;
	}
}

@media (min-width: 1120px){
	.registroSBSHomeMovil {
	    display: none;
	}	
}


.imagenRegistroSBSHome{
	width: 50px; 
}


@media (max-width: 768px){
	.supported-banks{
		display: none;
	}	
	.text-encasa{
		margin-top: 180px;
	}
/* 	.header-content-icon-desktop{ */
/* 		display: none; */
/* 	} */
	.mod-bottom-text{
		display: none;
	}
	.text-encasa{
		text-align: center;
	}
	.text-encasa h4{
		text-align: center;
	}
	
	#header-content-icon-desktop{
		margin-bottom: 20px !important;
	}
	
	.imagenLogo{
		margin-top: 0 !important;
	}
}


.claseIconosFooter img{
	width: 25px;
}
