#respaldo{
	text-align: center;
	padding: 20px;
}

#respaldo .contenedor{
/* 	display: flex; */
/* 	flex-wrap: wrap; */
	justify-content: center;
	display: inline-flex;
	margin-top: 30px;
}

.claseItemRespaldo{
	color: #fff;
	margin: 15px;
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding: 15px;
	background: rgba(29,42,55,1);
	background: -moz-linear-gradient(left, rgba(29,42,55,1) 0%, rgba(52,75,99,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,42,55,1)), color-stop(100%, rgba(52,75,99,1)));
	background: -webkit-linear-gradient(left, rgba(29,42,55,1) 0%, rgba(52,75,99,1) 100%);
	background: -o-linear-gradient(left, rgba(29,42,55,1) 0%, rgba(52,75,99,1) 100%);
	background: -ms-linear-gradient(left, rgba(29,42,55,1) 0%, rgba(52,75,99,1) 100%);
	background: linear-gradient(to right, rgba(29,42,55,1) 0%, rgba(52,75,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2a37', endColorstr='#344b63', GradientType=1 );
}

.claseItemNumeros{
	display: inline-flex;
}

.claseItemNumeros h1{
	padding-right: 5px;
}

#respaldo h2{
	margin-top: 30px;
	color: #1d2b38 !important;
    font-weight: 500;
    font-size: 45px;
}

#respaldo h1{
    font-weight: bold;	
}


.line-shape {
    margin-left: calc(50% - 50px);
}

.line-shape, .line-shape-white {
    width: 100px;
    height: 5px;
    background-color: #69B42D;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 100px;
}
